# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.run

# Debug files
*.dSYM/

# Misc Directories
labs/
doc/

# Misc Files
.DS_Store
thumbs.db
*.gc*
*.zip
*.result.txt
